doctype html
html
    head
    body
        div
            block content
            div
            | Тест апп
            hr
            | Тест
            br
            a(href='https://github.com')
